<script type="text/template" id="home-template">
    <section class="home swiper" id="home">
        <div class="swiper-wrapper">
            <div class="swiper-slide container">
                <img src="/ToonFlix_Frontend/assets/images/home1.jpg" alt="">
                <div class="home-text">
                    <span>Avatar</span>
                    <h1> The last Airbender </h1>
                    <a href="#" class="btn">Add</a>
                    <a href="#" class="play">
                        <i class="bx bx-play"></i>
                    </a>

                </div>
            </div>
            <div class="swiper-slide container">
                <img src="/ToonFlix_Frontend/assets/images/home2.jpg" alt="">
                <div class="home-text">
                    <span>Avatar</span>
                    <h1> The Legend of Korra </h1>
                    <a href="#" class="btn">Add</a>

                </div>
            </div>
            <div class="swiper-slide container">
                <img src="/ToonFlix_Frontend/assets/images/home3.png" alt="">
                <div class="home-text">
                    <span>Netflix</span>
                    <h1> Castlevania </h1>
                    <a href="#" class="btn">Add</a>

                </div>
            </div>
            <div class="swiper-slide container">
                <img src="/ToonFlix_Frontend/assets/images/home4.jpeg" alt="">
                <div class="home-text">
                    <span>Marvels</span>
                    <h1> Spider Man <br> Across the Spiderverse </h1>
                    <a href="#" class="btn">Add</a>

                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </section>
    

</script>

<script type="text/template" id="post-template">
    <div class="posts-container">
        <% _.each(posts, function(post) { %>
            <div class="box">
                <div class="box-image">
                    <% if (post.imagePath) { %>
                        <!-- Wrap the image in an anchor tag with a URL hash fragment -->
                        <a href="#posts/<%= post.id %>">
                            <img src="<%= post.imagePath %>" alt="Post image">
                        </a>
                    <% } %>
                </div>
                <h3><%= post.title %></h3>
                <span>Genre: <%= post.genre %></span>
            </div>
        <% }); %>
    </div>
</script>