<script type="text/template" id="home-template">
    <section class="home swiper" id="home">
        <div class="swiper-wrapper">
            <div class="swiper-slide container">
                <img src="/ToonFlix_Frontend/assets/images/ToonFlix_Welcome.webp" alt="">
                <div class="home-text">
                   

                </div>
            </div>
            <div class="swiper-slide container">
                <img src="/ToonFlix_Frontend/assets/images/ToonFlix_Collab.webp" alt="">
                <!-- <div class="home-text">
                    <span>Avatar</span>
                    <h1> The Legend of Korra </h1>
                    <a href="#" class="btn">Add</a>

                </div> -->
            </div>
            <div class="swiper-slide container">
                <img src="/ToonFlix_Frontend/assets/images/home3.png" alt="">
                <div class="home-text">
                    <span>Netflix</span>
                    <h1> Castlevania </h1>
                    <a href="#" class="btn">Add</a>

                </div>
            </div>
            <div class="swiper-slide container">
                <img src="/ToonFlix_Frontend/assets/images/home4.jpeg" alt="">
                <div class="home-text">
                    <span>Marvels</span>
                    <h1> Spider Man <br> Across the Spiderverse </h1>
                    <a href="#" class="btn">Add</a>

                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </section>
    

</script>

<script type="text/template" id="post-template">
    <h2>New Arrivals</h2>
    <div class="posts-container">
        <% _.each(posts, function(post) { %>
            <div class="box">
                <div class="box-image">
                    <% if (post.imagePath) { %>
                        <a href="#posts/<%= post.id %>">
                            <img src="<%= post.imagePath %>" alt="Post image">
                            <div class="like-overlay">
                                <%= post.likeCount %> <i class='fas fa-heart'></i>
                            </div>
                        </a>
                    <% } %>
                </div>
                <h3><%= post.title %></h3>
                <span>Genre: <%= post.genre %></span>
                <span><b>Created By <%= post.username %></b></span>
            </div>
        <% }); %>
    </div>
    
</script>