<script type="text/template" id="my-library-template">
    <div class="post-edit-container" data-post-id="<%- id %>">
        <h1 class="post-title-view"><%- title %></h1>
        <input class="post-title-edit" type="text" value="<%- title %>" style="display: none;"/>

        <img class="concept-art" src="<%- image_path %>" alt="<%- title %>">

        <p class="post-description-view"><%- description %></p>
        <textarea class="post-description-edit" style="display: none;"><%- description %></textarea>

        <ul class="post-tags-view">
            <% _.each(tags, function(tag) { %>
                <li><%- tag %></li>
            <% }); %>
        </ul>
        <input class="post-tags-edit" type="text" value="<%- tags.join(', ') %>" style="display: none;"/>

        <button class="edit-post-button">Edit</button>
        <button class="save-updates-button" style="display: none;">Save</button>
        <button class="cancel-updates-button" style="display: none;">Cancel</button>
        <button class="delete-post-button">Delete</button>
    </div>
</script>
