<script type="text/template" id="post-template">
    <div class="posts-container">  <!-- This container will apply the grid layout -->
        <% _.each(posts, function(post) { %>
            <div class="box">  <!-- Each post will be a 'box' -->
                <div class="box-image">
                    <% if (post.imagePath) { %>
                        <img src="<%= post.imagePath %>" alt="Post image">
                    <% } %>
                </div>
                <h3><%= post.title %></h3>
                <span>Genre: <%= post.genre %></span>  <!-- Use span for genre as in your original CSS -->
            </div>
        <% }); %>
    </div>
</script>