<script type="text/template" id="post-detail-template">
    <div class="card-container">
        <div class="card-header">
            <h2><%= title %></h2>
        </div>
        <div class="card-image">
            <img src="<%= image_path %>" alt="<%= title %>" />
        </div>
        <div class="card-content">
            <p class="card-genre">Genre: <%= genre %></p>
            <p class="card-description">Description: <%= description %></p>
            <div class="card-tags">
                <% _.each(tag, function(singleTag) { %>
                    <span class="tag">#<%= singleTag %></span>
                <% }); %>
            </div>
            <button class="like-post btn-icon <%= likedByCurrentUser ? 'liked' : '' %>" aria-label="<%= likedByCurrentUser ? 'Unlike this post' : 'Like this post' %>">
                <i class="<%= likedByCurrentUser ? 'far fa-heart' : 'fas fa-heart' %>"></i>
            </button>
                      
            
        </div>
        <div class="comments-container"></div>
    </div>
</script>

<script type="text/template" id="comment-detail-template">
    <div class="comments-section">
        <h3>Comments</h3>
        <ul class="comments-list">
            <% _.each(comments, function(comment) { %>
                <li class="comment-item">
                    <div class="comment-content">
                        <h4 class="comment-author">
                            <%= _.escape(comment.user.username) %>
                        </h4>
                        <div class="editable-content" data-id="<%= comment.id %>">
                            <p class="comment-text" style="display: inline-block;"><%= _.escape(comment.content) %></p>
                            <textarea class="edit-comment-text" style="display: none;" data-id="<%= comment.id %>"><%= _.escape(comment.content) %></textarea>
                        </div>
                        <% if (comment.user.id == currentUserId) { %>
                            <button class="edit-comment-button btn-icon" data-id="<%= comment.id %>"><i class="fas fa-edit"></i></button>
                            <button class="delete-comment-button btn-icon" data-id="<%= comment.id %>"><i class="fas fa-trash"></i></button>
                            <button class="save-comment-button btn-icon" data-id="<%= comment.id %>" style="display: none;"><i class="fas fa-save"></i></button>
                            <button class="cancel-comment-button btn-icon" data-id="<%= comment.id %>" style="display: none;"><i class="fas fa-times"></i></button>                     
                        <% } %>
                    </div>
                </li>
            <% }); %>
        </ul>
    </div>
</script>





<script type="text/template" id="comment-form-detail-template"> 
    <form class="comment-form">
        <h4>Add a comment</h4>
        <textarea id="content" class="comment-input" placeholder="Type your comment here..."></textarea>
        <button type="submit" class="btn-comment comment-submit">Post Comment</button>
    </form>    
</script>