<script type="text/template" id="post-detail-template">
    <div class="card-container">
        <div class="card-header">
            <h2><%= title %></h2>
        </div>
        <div class="card-image">
            <img src="<%= image_path %>" alt="<%= title %>" />
        </div>
        <div class="card-content">
            <p class="card-genre">Genre: <%= genre %></p>
            <p class="card-description">Description: <%= description %></p>
            <div class="card-tags">
                <% _.each(tag.split(','), function(singleTag) { %>
                    <span class="tag"><%= singleTag.trim() %></span>
                <% }); %>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="comment-detail-template">
    <div class="comments-section">
        <h3>Comments</h3>
        <ul class="comments-list">
            <!-- Comment Item -->
            <li class="comment-item">
                <div class="comment-content">
                    <h4 class="comment-author">Alice Smith</h4>
                    <p class="comment-text">This is a comment text.</p>
                </div>
            </li>
        </ul>

        <form class="comment-form">
            <h4>Add a comment</h4>
            <textarea class="comment-input" placeholder="Type your comment here..."></textarea>
            <button type="submit" class="btn comment-submit">Post Comment</button>
        </form>
    </div>
</script>