.post-edit-container {
    background-color: transparent;
    border: 2px solid #ff1d1d;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    align-items: flex-start; 
    margin: 100px auto;
    max-width: 850px;
}

.concept-art {
    width: 250px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    object-position: top;
    margin-right: 1rem;
}

.text-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.post-title, .post-title-edit {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.post-description, .post-description-edit {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

.post-tags-view {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    margin-bottom: 1rem;
}

.post-tags-view li {
    background-color: #15233e;
    border: 1px solid #2572b1; 
    border-radius: 25px;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    display: inline-block; 
    white-space: nowrap; 
}

.edit-post-button, .delete-post-button, .save-updates-button, .cancel-updates-button {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
}


.text-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
    gap: 0.5rem; 
}

.button-group {
    display: flex;
    gap: 0.5rem;
}

