:root {
    --main-color: #007bff;  /* Blue */
    --secondary-color: #f6dada; /* Light red */
    --text-color: #ffffff;
    --highlight-color: #ff0000; /* Red */
    --background-color: #f4f4f4;
    --comment-background: #19224f; /* Dark blue */
    --delete-color: #c00; /* Dark red */
    --icon-color: #bbb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card-container {
    max-width: 100%;
    margin: 100px auto 20px;
    background-color: #314372;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.card-header h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    padding: 16px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.card-genre {
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 8px 16px;
    font-size: 0.85em;
    display: inline-block;
    margin: 16px;
    border-radius: 16px;
}

.card-description {
    padding: 16px;
    color: var(--text-color);
    line-height: 1.6;
}

.card-tags {
    padding: 16px;
    background-color: var(--background-color);
    border-top: 1px solid #ddd;
}

.tag {
    display: inline-block;
    background-color: #e9e9e9;
    color: #555;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 0.75em;
    border-radius: 3px;
    margin-bottom: 8px;
}

.comments-section {
    padding: 1rem;
    background-color: var(--comment-background);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.comments-section h3 {
    color: var(--main-color);
    margin-bottom: 1rem;
}

.comments-list {
    list-style-type: none;
}

.comment-item {
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}

.comment-author {
    font-weight: 600;
    color: var(--delete-color);
}

.comment-text {
    margin-top: 0.25rem;
    line-height: 1.4;
    color: #000;
}

.comment-form {
    margin-top: 1rem;
}

.comment-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.comment-submit {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.no-comments {
    padding: 15px;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    margin-top: 20px;
    color: var(--main-color);
}

.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: var(--icon-color);
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}


.like-post{
    color: #bbb;
}
.btn-icon:hover {
    color: var(--highlight-color); 
}

.like-post {
    color: #ffffff;
}

.like-post:hover {
    color: var(--highlight-color); 
}

.like-post.liked {
    color: var(--highlight-color);
}


.delete-comment-button {
    color: var(--delete-color);
}

.delete-comment-button:hover {
    color: #900;
}

.edit-comment-text {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.comment-submit, .edit-comment, .save-comment, .cancel-comment, .delete-comment {
    margin-left: 10px;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}
