/* Post Container */
.posts-container {
    max-width: 3000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 2rem;
}

.box {
    flex: 0 1 350px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: #060821; 
    border-radius: 15px;
}

.box .box-image {
    width: 100%;
    height: 450px; 
    position: relative;
}

.box .box-image img {
    object-position: top;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.like-overlay {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    font-size: 1.5rem;
    color: rgb(255, 255, 255); 
    text-shadow: 0 0 10px rgba(0,0,0,0.5); 
    height: 40px;
}


.box .box-image:hover .like-overlay {
    opacity: 1; 
}

.box .box-image img:hover {
    transform: translateY(-10px);
    transition: transform 0.3s linear;
}
