
/* Search Bar Styles */
#search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.input-group {
  display: flex;
  width: 80%; 
  margin: 0 auto; 
}

#search-bar input[type="text"] {
  flex-grow: 1; 
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px 0 0 25px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.2s;
  margin-right: -1px; 
}

#search-button {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 0 25px 25px 0; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s;
}

#search-button:hover, #search-button:focus {
  background-color: #0056b3;
  box-shadow: 0 0 8px rgba(0, 86, 179, 0.8);
}

fieldset {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border: none;
  padding: 0;
  margin: 1rem auto;
  width: 80%; 
}

#search-bar label {
  font-size: 14px;
  color: #ffffff;
  margin: 0 10px; 
  flex: 1;
  text-align: center; 
}

#search-bar input[type="radio"] {
  margin-right: 0.5rem;
}

/* Container for the cards */
.post {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 5px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.post-header {
  padding: 15px;
  border-bottom: 1px solid #2a97df;
}

.post-header h2 {
  font-size: 18px;
  margin: 0;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Image container */
.post-image-container {
  width: 100%;
  height: 120px; 
  overflow: hidden;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.post-header img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.post-body {
  padding: 15px;
  flex-grow: 1;
}

.post-body div {
  margin-bottom: 5px;
  color: #000000;
}

.post-footer {
  padding: 15px;
  border-top: 1px solid #1ab5df;
  color: #ffffff;
  font-size: 14px;
  text-align: right;
  background-color: #f9f9f9;
  opacity: 0.4;
}

.post-body .tag {
  display: inline-block;
  background-color: #4691e0; 
  color: #fff;
  padding: 5px 10px; 
  margin: 2px; 
  border-radius: 3px; 
  font-size: 12px;
  white-space: nowrap; 
}

/* Responsive considerations */
@media (max-width: 600px) {
  .post {
    width: auto; 
    height: auto;
    margin: 20px;
  }
  .post-image-container {
    height: auto; 
  }
}
#posts-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  align-items: flex-start; 
  gap: 10px; 
}
  